# Student Attendance, Academics and Discipline Final with Criteria

In this Jupyter notebook, attendance data for students will be compiled that reflect the number of periods they were tardy as well as the number of periods they had an unexcused absence as well as the number of total absent periods. A total of discipline data logs is also calculated as well as the number of suspensions that they had. Finally, the academic data for students will be compiled by looking at their total academic GPA as well as the number of Ds and Fs that they are getting in classes currently.

Various criteria will be input as expectations for the students which will allow the creation of a column that says whether students qualify or if they do not it shows the number of expectations they are missing on.

In [1]:
import numpy as np
import pandas as pd

The Aeries SIS queries for the data that is needed is included as well as uploading them into the sheet.

In [2]:
# LIST STU SC SN ID ATT ATT.A0 ATT.A1 ATT.A2 ATT.A3 ATT.A4 ATT.A5 ATT.A6 ATT.A7 ATT.A8 ATT.A9 ATT.DT 
codes = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Codes.xlsx")

# LIST STU ID DIS DIS.CD? DIS.DT 
discipline = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Discipline.xlsx")

# LIST STU ADS DSP ADS.SC STU.ID ADS.DT ADS.CD DSP.DS DSP.DD
suspension = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Suspensions.xlsx")

# LIST STU SC ID STU.NM GR TP
gpa = pd.read_excel(r"C:\Users\derek.castleman\Desktop\GPA.xlsx")

# LIST STU ID FEE FEE.AM FEE.DT FEE.PD FEE.CD?
fees = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Fees.xlsx")

# LIST STU GBU GBK GBR STU.SC STU.ID STU.NM STU.GR GBK.PD GBK.NM GBR.CD GBU.CMK GBU.TG GBU.CSC
gradebook = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Gradebook.xlsx")

# LIST STU ID ACT ACT.CD? ACT.DT ACT.HR 
hours = pd.read_excel(r"C:\Users\derek.castleman\Desktop\Hours.xlsx")

C:\Users\derek.castleman\Anaconda3\lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

## Attendance

Attendance will be looked at in three different ways. First, the number of periods that a student was tardy to class will be summed up. I will follow this by calculating the number of periods that each student missed due to an unexcused absence. It will conclude by calculating the total periods that a student missed whether or not they were excused or unexcused.

In [3]:
codes

,School,Student#,Student ID,Per0,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Date
0,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,08/01/2024
1,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,08/08/2024
2,1,3074,1095014,U,U,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,08/12/2024
3,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,08/14/2024
4,1,3074,1095014,U,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,08/15/2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52409,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11/22/2024
52410,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12/02/2024
52411,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/03/2025
52412,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/06/2025
52413,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02/07/2025

In [4]:
codes['Date']= pd.to_datetime(codes['Date'])
codes

,School,Student#,Student ID,Per0,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Date
0,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,2024-08-01
1,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,2024-08-08
2,1,3074,1095014,U,U,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-12
3,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,2024-08-14
4,1,3074,1095014,U,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52409,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-22
52410,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-12-02
52411,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-03
52412,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-06
52413,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-07

In [5]:
a = input('What is the start date you are interested in (mm/dd/yyyy):          ')
a

What is the start date you are interested in (mm/dd/yyyy):          8/1/2024

'8/1/2024'

In [6]:
b = input('What is the end date you are interested in (mm/dd/yyyy):          ')
b

What is the end date you are interested in (mm/dd/yyyy):          2/25/2025

'2/25/2025'

In [7]:
codes = codes[(codes['Date'] >= a) & (codes['Date'] <= b)]
codes

,School,Student#,Student ID,Per0,Per1,Per2,Per3,Per4,Per5,Per6,Per7,Per8,Per9,Date
0,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,K,NaN,2024-08-01
1,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,C,NaN,2024-08-08
2,1,3074,1095014,U,U,NaN,U,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-12
3,1,3074,1095014,NaN,NaN,NaN,NaN,NaN,C,NaN,NaN,NaN,NaN,2024-08-14
4,1,3074,1095014,U,NaN,T,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-08-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52409,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-22
52410,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-12-02
52411,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-03
52412,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-06
52413,6,296,1094375,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2025-02-07

In [8]:
codes = codes.melt(['School','Student#', 'Student ID', 'Date'], var_name='Period', value_name='Code')
codes

        School  Student#  Student ID       Date Period Code
0            1      3074     1095014 2024-08-01   Per0  NaN
1            1      3074     1095014 2024-08-08   Per0  NaN
2            1      3074     1095014 2024-08-12   Per0    U
3            1      3074     1095014 2024-08-14   Per0  NaN
4            1      3074     1095014 2024-08-15   Per0    U
...        ...       ...         ...        ...    ...  ...
521615       6       296     1094375 2024-11-22   Per9  NaN
521616       6       296     1094375 2024-12-02   Per9  NaN
521617       6       296     1094375 2025-02-03   Per9  NaN
521618       6       296     1094375 2025-02-06   Per9  NaN
521619       6       296     1094375 2025-02-07   Per9  NaN

[521620 rows x 6 columns]

In [9]:
totalabsent = codes[(codes['Code'] == 'A') | (codes['Code'] == 'Q') | 
                     (codes['Code'] == 'S') | (codes['Code'] == 'U') | (codes['Code'] == 'K') |
                      (codes['Code'] == 'I') | (codes['Code'] == 'M') | (codes['Code'] == 'X')]
totalabsent

        School  Student#  Student ID       Date Period Code
2            1      3074     1095014 2024-08-12   Per0    U
4            1      3074     1095014 2024-08-15   Per0    U
8            1      3074     1095014 2024-09-16   Per0    U
12           1      3074     1095014 2024-10-01   Per0    U
15           1      3074     1095014 2024-10-04   Per0    S
...        ...       ...         ...        ...    ...  ...
469410       7       436     1092848 2025-02-07   Per8    I
470906       8       206     1094296 2024-11-01   Per9    I
475861       8       168     1096340 2025-01-23   Per9    K
483815       1      2940     1093088 2025-02-18   Per9    K
500520       1      3448     1095528 2024-10-25   Per9    K

[63521 rows x 6 columns]

In [10]:
totalabsent['Periods Absent'] = 1
totalabsent

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3427701701.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totalabsent['Periods Absent'] = 1

        School  Student#  Student ID       Date Period Code  Periods Absent
2            1      3074     1095014 2024-08-12   Per0    U               1
4            1      3074     1095014 2024-08-15   Per0    U               1
8            1      3074     1095014 2024-09-16   Per0    U               1
12           1      3074     1095014 2024-10-01   Per0    U               1
15           1      3074     1095014 2024-10-04   Per0    S               1
...        ...       ...         ...        ...    ...  ...             ...
469410       7       436     1092848 2025-02-07   Per8    I               1
470906       8       206     1094296 2024-11-01   Per9    I               1
475861       8       168     1096340 2025-01-23   Per9    K               1
483815       1      2940     1093088 2025-02-18   Per9    K               1
500520       1      3448     1095528 2024-10-25   Per9    K               1

[63521 rows x 7 columns]

In [11]:
totalabsent = totalabsent.groupby(by=['Student ID'])['Periods Absent'].sum().reset_index()
totalabsent

      Student ID  Periods Absent
0        1092314              13
1        1092319               2
2        1092320              80
3        1092327              31
4        1092329             110
...          ...             ...
1086     1096763               7
1087     1096767               5
1088     1096770               4
1089     1096772               9
1090     1096774              16

[1091 rows x 2 columns]

In [12]:
unexcused = codes[(codes['Code'] == 'A') | (codes['Code'] == 'Q') | 
                     (codes['Code'] == 'S') | (codes['Code'] == 'U')]
unexcused

        School  Student#  Student ID       Date Period Code
2            1      3074     1095014 2024-08-12   Per0    U
4            1      3074     1095014 2024-08-15   Per0    U
8            1      3074     1095014 2024-09-16   Per0    U
12           1      3074     1095014 2024-10-01   Per0    U
15           1      3074     1095014 2024-10-04   Per0    S
...        ...       ...         ...        ...    ...  ...
469263       1      3169     1093216 2024-12-05   Per8    U
469274       1      3169     1093216 2025-01-30   Per8    U
469297       1      3455     1095630 2024-10-24   Per8    U
469402       7       436     1092848 2024-09-06   Per8    U
469408       7       436     1092848 2025-02-03   Per8    U

[22837 rows x 6 columns]

In [13]:
unexcused['Unexcused Absent'] = 1
unexcused

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/4141669369.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  unexcused['Unexcused Absent'] = 1

        School  Student#  Student ID       Date Period Code  Unexcused Absent
2            1      3074     1095014 2024-08-12   Per0    U                 1
4            1      3074     1095014 2024-08-15   Per0    U                 1
8            1      3074     1095014 2024-09-16   Per0    U                 1
12           1      3074     1095014 2024-10-01   Per0    U                 1
15           1      3074     1095014 2024-10-04   Per0    S                 1
...        ...       ...         ...        ...    ...  ...               ...
469263       1      3169     1093216 2024-12-05   Per8    U                 1
469274       1      3169     1093216 2025-01-30   Per8    U                 1
469297       1      3455     1095630 2024-10-24   Per8    U                 1
469402       7       436     1092848 2024-09-06   Per8    U                 1
469408       7       436     1092848 2025-02-03   Per8    U                 1

[22837 rows x 7 columns]

In [14]:
unexcused = unexcused.groupby(by=['Student ID'])['Unexcused Absent'].sum().reset_index()
unexcused

      Student ID  Unexcused Absent
0        1092314                 2
1        1092319                 2
2        1092320                 1
3        1092327                 4
4        1092329                39
...          ...               ...
1039     1096743                 9
1040     1096745                 6
1041     1096762                 6
1042     1096763                 5
1043     1096774                16

[1044 rows x 2 columns]

In [15]:
totaltardy = codes[(codes['Code'] == 'C') | (codes['Code'] == 'D') | 
                     (codes['Code'] == 'T') | (codes['Code'] == 'Y') | (codes['Code'] == 'Z')]
totaltardy

        School  Student#  Student ID       Date Period Code
6            1      3074     1095014 2024-09-10   Per0    Z
11           1      3074     1095014 2024-09-30   Per0    Y
20           1      3074     1095014 2024-10-24   Per0    Z
22           1      3074     1095014 2024-10-29   Per0    C
25           1      3074     1095014 2024-11-06   Per0    C
...        ...       ...         ...        ...    ...  ...
469112       1      3431     1095035 2024-08-30   Per8    C
469140       1      3431     1095035 2024-11-08   Per8    C
469336       2      2239     1093032 2024-11-05   Per8    C
469350       2      2239     1093032 2025-02-05   Per8    C
469411       7       436     1092848 2025-02-14   Per8    C

[18711 rows x 6 columns]

In [16]:
totaltardy['Periods Tardy'] = 1
totaltardy

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/790558157.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  totaltardy['Periods Tardy'] = 1

        School  Student#  Student ID       Date Period Code  Periods Tardy
6            1      3074     1095014 2024-09-10   Per0    Z              1
11           1      3074     1095014 2024-09-30   Per0    Y              1
20           1      3074     1095014 2024-10-24   Per0    Z              1
22           1      3074     1095014 2024-10-29   Per0    C              1
25           1      3074     1095014 2024-11-06   Per0    C              1
...        ...       ...         ...        ...    ...  ...            ...
469112       1      3431     1095035 2024-08-30   Per8    C              1
469140       1      3431     1095035 2024-11-08   Per8    C              1
469336       2      2239     1093032 2024-11-05   Per8    C              1
469350       2      2239     1093032 2025-02-05   Per8    C              1
469411       7       436     1092848 2025-02-14   Per8    C              1

[18711 rows x 7 columns]

In [17]:
totaltardy = totaltardy.groupby(by=['Student ID'])['Periods Tardy'].sum().reset_index()
totaltardy

      Student ID  Periods Tardy
0        1092314             22
1        1092319              5
2        1092320             13
3        1092327             13
4        1092329             15
...          ...            ...
1029     1096767              1
1030     1096770              2
1031     1096772              1
1032     1096773              1
1033     1096774              1

[1034 rows x 2 columns]

In [18]:
attendance = pd.merge(totalabsent, unexcused, how='outer', on='Student ID')
attendance

      Student ID  Periods Absent  Unexcused Absent
0        1092314              13               2.0
1        1092319               2               2.0
2        1092320              80               1.0
3        1092327              31               4.0
4        1092329             110              39.0
...          ...             ...               ...
1086     1096763               7               5.0
1087     1096767               5               NaN
1088     1096770               4               NaN
1089     1096772               9               NaN
1090     1096774              16              16.0

[1091 rows x 3 columns]

In [19]:
attendance = pd.merge(attendance, totaltardy, how='outer', on='Student ID')
attendance

      Student ID  Periods Absent  Unexcused Absent  Periods Tardy
0        1092314            13.0               2.0           22.0
1        1092319             2.0               2.0            5.0
2        1092320            80.0               1.0           13.0
3        1092327            31.0               4.0           13.0
4        1092329           110.0              39.0           15.0
...          ...             ...               ...            ...
1093     1095597             NaN               NaN            3.0
1094     1095814             NaN               NaN            6.0
1095     1095945             NaN               NaN            1.0
1096     1096468             NaN               NaN            2.0
1097     1096773             NaN               NaN            1.0

[1098 rows x 4 columns]

## Discipline

A date will be input that will be selected for when discipline should be looked at beyond. A number of one will be assigned to each discipline log and then it will be summed for each of the students. The same thing will be done with the suspensions for a student.

In [20]:
discipline

,Student ID,Description_DIS_CD,Date
0,1095014,NaN,NaN
1,1094167,"O-Inappropriate Contact: Repeated, documented ...",02/17/2023
2,1094167,"O-Inappropriate Contact: Repeated, documented ...",02/26/2025
3,1095258,NaN,NaN
4,1096128,NaN,NaN
...,...,...,...
4478,1094487,NaN,NaN
4479,1096578,NaN,NaN
4480,1094375,Out of Bounds,12/06/2019
4481,1094375,NaN,03/03/2022
4482,1094375,"O-Inappropriate Contact: Repeated, documented ...",02/01/2024

In [21]:
discipline['Date']= pd.to_datetime(discipline['Date']) # Changing to proper date format
discipline

      Student ID                                 Description_DIS_CD       Date
0        1095014                                                NaN        NaT
1        1094167  O-Inappropriate Contact: Repeated, documented ... 2023-02-17
2        1094167  O-Inappropriate Contact: Repeated, documented ... 2025-02-26
3        1095258                                                NaN        NaT
4        1096128                                                NaN        NaT
...          ...                                                ...        ...
4478     1094487                                                NaN        NaT
4479     1096578                                                NaN        NaT
4480     1094375                                      Out of Bounds 2019-12-06
4481     1094375                                                NaN 2022-03-03
4482     1094375  O-Inappropriate Contact: Repeated, documented ... 2024-02-01

[4483 rows x 3 columns]

In [22]:
discipline = discipline[(discipline['Date'] >= a) & (discipline['Date'] <= b)]
discipline

      Student ID                                 Description_DIS_CD       Date
16       1095206  O-Disrespect: Repeated, documented low-intensi... 2024-10-24
25       1093989  O-Other: Any other repeated, documented low-in... 2024-10-18
100      1095032  O-Classroom Disruption: Repeated, documented b... 2024-11-21
101      1095032  O-Classroom Disruption: Repeated, documented b... 2024-12-10
102      1095032  O-Defiance: Repeated, documented low-intensity... 2024-12-11
...          ...                                                ...        ...
4423     1092372  O-Inappropriate Language: Repeated, documented... 2025-01-21
4424     1092372  O-Inappropriate Language: Repeated, documented... 2025-01-22
4425     1092372  O-Inappropriate Contact: Repeated, documented ... 2025-02-13
4439     1096341  O-Other: Any other repeated, documented low-in... 2024-12-09
4453     1095541                          WCPA Dress Code Violation 2024-12-03

[361 rows x 3 columns]

In [23]:
discipline['Discipline Logs'] = 1 # Giving a value of one for each discipline
discipline

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/1295797850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  discipline['Discipline Logs'] = 1 # Giving a value of one for each discipline

,Student ID,Description_DIS_CD,Date,Discipline Logs
16,1095206,"O-Disrespect: Repeated, documented low-intensi...",2024-10-24,1
25,1093989,"O-Other: Any other repeated, documented low-in...",2024-10-18,1
100,1095032,"O-Classroom Disruption: Repeated, documented b...",2024-11-21,1
101,1095032,"O-Classroom Disruption: Repeated, documented b...",2024-12-10,1
102,1095032,"O-Defiance: Repeated, documented low-intensity...",2024-12-11,1
...,...,...,...,...
4423,1092372,"O-Inappropriate Language: Repeated, documented...",2025-01-21,1
4424,1092372,"O-Inappropriate Language: Repeated, documented...",2025-01-22,1
4425,1092372,"O-Inappropriate Contact: Repeated, documented ...",2025-02-13,1
4439,1096341,"O-Other: Any other repeated, documented low-in...",2024-12-09,1
4453,1095541,WCPA Dress Code Violation,2024-12-03,1

In [24]:
# Summing up the discipline for each student
discipline = discipline.groupby(by=['Student ID'])['Discipline Logs'].sum().reset_index()
discipline

     Student ID  Discipline Logs
0       1092314                1
1       1092332                4
2       1092346                2
3       1092348                1
4       1092357                1
..          ...              ...
216     1096685                1
217     1096694                1
218     1096717                1
219     1096736                1
220     1096738                1

[221 rows x 2 columns]

In [25]:
suspension

      School  Student ID        Date  Code Disposition Disposition date
0          1     1095014  10/03/2024   1.0      SUS-13       10/04/2024
1          4     1094167         NaN   NaN         NaN              NaN
2          4     1095258         NaN   NaN         NaN              NaN
3          4     1096128         NaN   NaN         NaN              NaN
4          4     1093925         NaN   NaN         NaN              NaN
...      ...         ...         ...   ...         ...              ...
2577       6     1095271         NaN   NaN         NaN              NaN
2578       7     1092848         NaN   NaN         NaN              NaN
2579       4     1094487         NaN   NaN         NaN              NaN
2580       6     1096578         NaN   NaN         NaN              NaN
2581       6     1094375         NaN   NaN         NaN              NaN

[2582 rows x 6 columns]

In [26]:
suspension = suspension[(suspension['Disposition'] == 'SUS-13') | (suspension['Disposition'] == '04')] # Selecting suspensions
suspension

      School  Student ID        Date  Code Disposition Disposition date
0          1     1095014  10/03/2024   1.0      SUS-13       10/04/2024
6          1     1094134  02/18/2022   2.0      SUS-13       02/22/2022
9          2     1095206  03/16/2022   1.0      SUS-13       03/16/2022
10         2     1095206  10/25/2022   1.0          04       10/25/2022
14         2     1093946  08/31/2023   2.0      SUS-13       08/31/2023
...      ...         ...         ...   ...         ...              ...
2563       1     1095035  02/01/2022   1.0      SUS-13       02/02/2022
2564       1     1095035  02/02/2023   1.0      SUS-13       02/03/2023
2565       1     1095035  02/14/2023   3.0      SUS-13       02/15/2023
2569       1     1093216  02/16/2024  29.0      SUS-13       02/20/2024
2570       1     1093216  02/16/2024  29.0          04       02/21/2024

[413 rows x 6 columns]

In [27]:
# Changing date into proper format
suspension['Disposition date']= pd.to_datetime(suspension['Disposition date'])
suspension

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/1453861537.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspension['Disposition date']= pd.to_datetime(suspension['Disposition date'])

      School  Student ID        Date  Code Disposition Disposition date
0          1     1095014  10/03/2024   1.0      SUS-13       2024-10-04
6          1     1094134  02/18/2022   2.0      SUS-13       2022-02-22
9          2     1095206  03/16/2022   1.0      SUS-13       2022-03-16
10         2     1095206  10/25/2022   1.0          04       2022-10-25
14         2     1093946  08/31/2023   2.0      SUS-13       2023-08-31
...      ...         ...         ...   ...         ...              ...
2563       1     1095035  02/01/2022   1.0      SUS-13       2022-02-02
2564       1     1095035  02/02/2023   1.0      SUS-13       2023-02-03
2565       1     1095035  02/14/2023   3.0      SUS-13       2023-02-15
2569       1     1093216  02/16/2024  29.0      SUS-13       2024-02-20
2570       1     1093216  02/16/2024  29.0          04       2024-02-21

[413 rows x 6 columns]

In [28]:
# Selecting suspensions beyond the start 
suspension = suspension[(suspension['Disposition date'] >= a) & (suspension['Disposition date'] <= b)]
suspension

      School  Student ID        Date  Code Disposition Disposition date
0          1     1095014  10/03/2024   1.0      SUS-13       2024-10-04
16         2     1093946  08/12/2024  27.0      SUS-13       2024-08-13
17         2     1093946  08/21/2024   9.0      SUS-13       2024-08-22
29         2     1092361  11/12/2024   1.0      SUS-13       2024-11-13
93         2     1095953  10/15/2024   1.0      SUS-13       2024-10-15
...      ...         ...         ...   ...         ...              ...
2537       2     1092372  09/19/2024   1.0      SUS-13       2024-09-20
2538       2     1092372  02/14/2025   1.0      SUS-13       2025-02-14
2550       1     1096341  11/20/2024   3.0          04       2024-11-20
2551       1     1096341  01/30/2025   3.0      SUS-13       2025-01-30
2556       2     1096013  09/25/2024  30.0      SUS-13       2024-09-26

[128 rows x 6 columns]

In [29]:
suspension['Suspensions'] = 1 # Giving a value of 1 for each suspension
suspension

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/1659031514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspension['Suspensions'] = 1 # Giving a value of 1 for each suspension

,School,Student ID,Date,Code,Disposition,Disposition date,Suspensions
0,1,1095014,10/03/2024,1.0,SUS-13,2024-10-04,1
16,2,1093946,08/12/2024,27.0,SUS-13,2024-08-13,1
17,2,1093946,08/21/2024,9.0,SUS-13,2024-08-22,1
29,2,1092361,11/12/2024,1.0,SUS-13,2024-11-13,1
93,2,1095953,10/15/2024,1.0,SUS-13,2024-10-15,1
...,...,...,...,...,...,...,...
2537,2,1092372,09/19/2024,1.0,SUS-13,2024-09-20,1
2538,2,1092372,02/14/2025,1.0,SUS-13,2025-02-14,1
2550,1,1096341,11/20/2024,3.0,04,2024-11-20,1
2551,1,1096341,01/30/2025,3.0,SUS-13,2025-01-30,1
2556,2,1096013,09/25/2024,30.0,SUS-13,2024-09-26,1

In [30]:
# Summing up the suspensions for each student
suspension = suspension.groupby(by=['Student ID'])['Suspensions'].sum().reset_index()
suspension

    Student ID  Suspensions
0      1092332            1
1      1092340            1
2      1092361            1
3      1092372            3
4      1092377            1
..         ...          ...
82     1096341            2
83     1096361            2
84     1096542            1
85     1096709            1
86     1096717            1

[87 rows x 2 columns]

In [31]:
# Merging the two behavior columns together
behavior = pd.merge(discipline, suspension, how='outer', on='Student ID')
behavior

     Student ID  Discipline Logs  Suspensions
0       1092314              1.0          NaN
1       1092332              4.0          1.0
2       1092346              2.0          NaN
3       1092348              1.0          NaN
4       1092357              1.0          NaN
..          ...              ...          ...
264     1096013              NaN          1.0
265     1096016              NaN          1.0
266     1096361              NaN          2.0
267     1096542              NaN          1.0
268     1096709              NaN          1.0

[269 rows x 3 columns]

In [32]:
behavior = behavior.fillna(0) # Filling in the missing values with zero
behavior

     Student ID  Discipline Logs  Suspensions
0       1092314              1.0          0.0
1       1092332              4.0          1.0
2       1092346              2.0          0.0
3       1092348              1.0          0.0
4       1092357              1.0          0.0
..          ...              ...          ...
264     1096013              0.0          1.0
265     1096016              0.0          1.0
266     1096361              0.0          2.0
267     1096542              0.0          1.0
268     1096709              0.0          1.0

[269 rows x 3 columns]

## Academics

The total academic GPA for students will be added to the attendance data along with any outstanding fees that they might have. The outstanding fees are calculated by the total they have been charged with the total that has been paid minused from it. The grades for the current term will be selected and any grade under a C- will be chosen with a sum for each student for how many Ds and Fs they have given.

In [33]:
gpa

      School  Student ID            Student Name  Grade    TGPA
0          1     1095014          A Cerda, Eddie     11  2.5000
1          4     1094167        Aaron, Anastasia      6  2.6667
2          4     1095258           Aaron, Lillie      3  3.7500
3          4     1096128  Aburto-Ramirez, Anaiah      1  2.2500
4          4     1093925   Aburto-Ramirez, Ayden      4  3.5000
...      ...         ...                     ...    ...     ...
2373       6     1095271            Zuniga, Alan      3  3.5000
2374       7     1092848        Zuniga, Michelle      7  3.8621
2375       4     1094487           Zuniga, Pedro      5  2.0000
2376       6     1096578             Zuniga, Zoe      0  0.0000
2377       6     1094375    Zuniga Vazquez, Luis      5  3.7500

[2378 rows x 5 columns]

In [34]:
# Adds the total GPA of each student with their attendance data
merge_one = pd.merge(gpa, attendance, how='left', on='Student ID')
merge_one

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,NaN,NaN,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,NaN,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,NaN,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,NaN,NaN,NaN
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0
2375,4,1094487,"Zuniga, Pedro",5,2.0000,NaN,NaN,NaN
2376,6,1096578,"Zuniga, Zoe",0,0.0000,NaN,NaN,NaN
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,NaN,NaN,NaN

In [35]:
final = pd.merge(merge_one, behavior, how='left', on='Student ID')
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,NaN,NaN,NaN,NaN,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,NaN,NaN,NaN,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,NaN,NaN,NaN,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,NaN,NaN,NaN,NaN,NaN
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,NaN,NaN
2375,4,1094487,"Zuniga, Pedro",5,2.0000,NaN,NaN,NaN,NaN,NaN
2376,6,1096578,"Zuniga, Zoe",0,0.0000,NaN,NaN,NaN,NaN,NaN
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,NaN,NaN,NaN,NaN,NaN

In [36]:
final = final.fillna(0)
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0
2375,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0
2376,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0

In [37]:
gradebook

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
0,1,1095014,"A Cerda, Eddie",11,3.0,Community Class,1,A,NaN,95.1111
1,1,1095014,"A Cerda, Eddie",11,6.0,Study Skills,3,A+,NaN,100.0000
2,1,1095014,"A Cerda, Eddie",11,7.0,American Lit,1,A,NaN,96.5217
3,1,1095014,"A Cerda, Eddie",11,6.0,Study Skills,1,A+,NaN,100.0000
4,1,1095014,"A Cerda, Eddie",11,2.0,Geometry,F,C,NaN,74.3300
...,...,...,...,...,...,...,...,...,...,...
41700,6,1094375,"Zuniga Vazquez, Luis",5,1.0,Gr 5 ELA,S,B+,NaN,89.9000
41701,6,1094375,"Zuniga Vazquez, Luis",5,3.0,Gr 5 Science,F,A+,NaN,100.0000
41702,6,1094375,"Zuniga Vazquez, Luis",5,3.0,Gr 5 Science,S,A+,NaN,100.0000
41703,6,1094375,"Zuniga Vazquez, Luis",5,6.0,Gr 5 PE,F,A,NaN,90.0000
41704,6,1094375,"Zuniga Vazquez, Luis",5,6.0,Gr 5 PE,S,A,NaN,90.0000

In [38]:
z = input('Input term of interest (1, 2 etc.)        ') # Current term for grades is unput
z

Input term of interest (1, 2 etc.)        3

'3'

In [39]:
gradebook = gradebook[gradebook['Term'] == z] # Current term is selected from gradebook
gradebook

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
1,1,1095014,"A Cerda, Eddie",11,6.0,Study Skills,3,A+,NaN,100.0000
13,1,1095014,"A Cerda, Eddie",11,5.0,US History,3,D+,NaN,69.4915
20,1,1095014,"A Cerda, Eddie",11,2.0,Geometry,3,C,NaN,76.0000
24,1,1095014,"A Cerda, Eddie",11,3.0,Community Class,3,A,NaN,90.0000
25,1,1095014,"A Cerda, Eddie",11,4.0,Lang Arts 11,3,A+,NaN,100.0000
...,...,...,...,...,...,...,...,...,...,...
41659,7,1092848,"Zuniga, Michelle",7,6.0,Inter Sci 7,3,A-,NaN,91.9580
41662,7,1092848,"Zuniga, Michelle",7,1.0,Math 7,3,C,NaN,75.7009
41675,7,1092848,"Zuniga, Michelle",7,2.0,Lang Arts 7,3,B-,NaN,81.3333
41678,7,1092848,"Zuniga, Michelle",7,7.0,ART - S,3,A+,NaN,100.0000
41683,7,1092848,"Zuniga, Michelle",7,4.0,Math 7 Int,3,A,NaN,94.6428

In [40]:
# Failing grades are chosen
failing = gradebook[(gradebook['OverallMark'] == 'D+') | (gradebook['OverallMark'] == 'D') | 
                    (gradebook['OverallMark'] == 'D-') | (gradebook['OverallMark'] == 'F')]
failing

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr
13,1,1095014,"A Cerda, Eddie",11,5.0,US History,3,D+,NaN,69.4915
54,1,1095224,"Acevedo, Italivi",12,8.0,Math Analysis,3,F,NaN,50.0000
128,1,1094472,"Acevedo Sanchez, Bryan",9,6.0,Alg 1,3,D,NaN,63.4375
147,2,1095206,"Aceves, Analia",8,7.0,Lang Arts 8,3,D,NaN,65.5555
261,2,1093946,"Acol, Aldo",8,7.0,Lang Arts 8,3,F,NaN,54.4444
...,...,...,...,...,...,...,...,...,...,...
41458,1,1095035,"Zaragoza, Heidyn",9,8.0,Spanish 1,3,D+,NaN,69.4636
41482,1,1095035,"Zaragoza, Heidyn",9,4.0,Health Science,3,D+,NaN,67.7215
41510,8,1095289,"Zarza, Oscar",11,7.0,Mock Trial,3,D+,NaN,67.6000
41524,1,1093216,"Zepeda, Khloey",10,7.0,Spanish 1,3,F,NaN,57.0370
41656,7,1092848,"Zuniga, Michelle",7,8.0,Advisory 7,3,F,NaN,50.0000

In [41]:
# A value of 1 is given to each course that has been filtered
failing['D/F'] = 1
failing

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/863648693.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  failing['D/F'] = 1

,School,Student ID,Student Name,Grade,Pd,Name1,Term,OverallMark,Status,OverallScr,D/F
13,1,1095014,"A Cerda, Eddie",11,5.0,US History,3,D+,NaN,69.4915,1
54,1,1095224,"Acevedo, Italivi",12,8.0,Math Analysis,3,F,NaN,50.0000,1
128,1,1094472,"Acevedo Sanchez, Bryan",9,6.0,Alg 1,3,D,NaN,63.4375,1
147,2,1095206,"Aceves, Analia",8,7.0,Lang Arts 8,3,D,NaN,65.5555,1
261,2,1093946,"Acol, Aldo",8,7.0,Lang Arts 8,3,F,NaN,54.4444,1
...,...,...,...,...,...,...,...,...,...,...,...
41458,1,1095035,"Zaragoza, Heidyn",9,8.0,Spanish 1,3,D+,NaN,69.4636,1
41482,1,1095035,"Zaragoza, Heidyn",9,4.0,Health Science,3,D+,NaN,67.7215,1
41510,8,1095289,"Zarza, Oscar",11,7.0,Mock Trial,3,D+,NaN,67.6000,1
41524,1,1093216,"Zepeda, Khloey",10,7.0,Spanish 1,3,F,NaN,57.0370,1
41656,7,1092848,"Zuniga, Michelle",7,8.0,Advisory 7,3,F,NaN,50.0000,1

In [42]:
# Total number is summed up
failing = failing.groupby(by=['Student ID'])['D/F'].sum().reset_index()
failing

     Student ID  D/F
0       1092314    2
1       1092332    1
2       1092346    1
3       1092347    1
4       1092348    2
..          ...  ...
488     1096762    3
489     1096767    2
490     1096770    1
491     1096772    4
492     1096773    2

[493 rows x 2 columns]

In [43]:
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0
2375,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0
2376,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0

In [44]:
# Failing grades are added to all other merges
final = pd.merge(final, failing, on='Student ID', how='left')
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,D/F
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,NaN
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0
2375,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,NaN
2376,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,NaN
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,NaN

In [45]:
final = final.rename(columns={'D/F': "Q" + z + " D/F"})
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2373,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,NaN
2374,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0
2375,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,NaN
2376,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,NaN
2377,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,NaN

## Fees and Community Service

The fees will be calculated for students by subtracting the amount paid from the amount charged. The community service hours will then be calculated by filtering over the date range and then summing the column for the hours. Everything will then be added to the dataframe to complete it.

In [46]:
fees

      Student ID  Amount Chgd   Date Chgd  Amount Pd Description_FEE_CD
0        1095014          0.0  07/01/2024        0.0                NaN
1        1094167          NaN         NaN        NaN                NaN
2        1095258          NaN         NaN        NaN                NaN
3        1096128          NaN         NaN        NaN                NaN
4        1093925          NaN         NaN        NaN                NaN
...          ...          ...         ...        ...                ...
2394     1095271          NaN         NaN        NaN                NaN
2395     1092848          NaN         NaN        NaN                NaN
2396     1094487          NaN         NaN        NaN                NaN
2397     1096578          NaN         NaN        NaN                NaN
2398     1094375          NaN         NaN        NaN                NaN

[2399 rows x 5 columns]

In [47]:
# Debts are calculated by subtracting amount paid from amount charged
fees['Fees/Debts'] = fees['Amount Chgd'] - fees['Amount Pd']
fees

,Student ID,Amount Chgd,Date Chgd,Amount Pd,Description_FEE_CD,Fees/Debts
0,1095014,0.0,07/01/2024,0.0,NaN,0.0
1,1094167,NaN,NaN,NaN,NaN,NaN
2,1095258,NaN,NaN,NaN,NaN,NaN
3,1096128,NaN,NaN,NaN,NaN,NaN
4,1093925,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
2394,1095271,NaN,NaN,NaN,NaN,NaN
2395,1092848,NaN,NaN,NaN,NaN,NaN
2396,1094487,NaN,NaN,NaN,NaN,NaN
2397,1096578,NaN,NaN,NaN,NaN,NaN
2398,1094375,NaN,NaN,NaN,NaN,NaN

In [48]:
fees = fees[['Student ID', 'Fees/Debts']]
fees

      Student ID  Fees/Debts
0        1095014         0.0
1        1094167         NaN
2        1095258         NaN
3        1096128         NaN
4        1093925         NaN
...          ...         ...
2394     1095271         NaN
2395     1092848         NaN
2396     1094487         NaN
2397     1096578         NaN
2398     1094375         NaN

[2399 rows x 2 columns]

In [49]:
# Fees are added to the end
final = pd.merge(final, fees, on='Student ID', how='left')
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,NaN
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [50]:
hours

       Student ID Description_ACT_CD        Date  Hours
0         1095014  Community Service  02/15/2022    1.0
1         1095014  Community Service  02/11/2022    1.0
2         1095014  Community Service  03/10/2022    1.0
3         1095014  Community Service  03/11/2022    0.5
4         1095014  Community Service  02/16/2022    1.0
...           ...                ...         ...    ...
10488     1092848  Community Service  11/22/2024    3.0
10489     1092848  Community Service  11/22/2024    1.5
10490     1094487                NaN         NaN    NaN
10491     1096578                NaN         NaN    NaN
10492     1094375                NaN         NaN    NaN

[10493 rows x 4 columns]

In [51]:
# Community service hours are selected for
hours = hours[hours['Description_ACT_CD'] == 'Community Service']
hours

       Student ID Description_ACT_CD        Date  Hours
0         1095014  Community Service  02/15/2022    1.0
1         1095014  Community Service  02/11/2022    1.0
2         1095014  Community Service  03/10/2022    1.0
3         1095014  Community Service  03/11/2022    0.5
4         1095014  Community Service  02/16/2022    1.0
...           ...                ...         ...    ...
10481     1093032  Community Service  02/12/2025    7.5
10482     1093032  Community Service  02/18/2025    1.0
10487     1092848  Community Service  10/25/2024    4.0
10488     1092848  Community Service  11/22/2024    3.0
10489     1092848  Community Service  11/22/2024    1.5

[9106 rows x 4 columns]

In [52]:
hours['Date']= pd.to_datetime(hours['Date']) # Changes date to datetime
hours

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/2734842970.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hours['Date']= pd.to_datetime(hours['Date']) # Changes absent date to datetime

       Student ID Description_ACT_CD       Date  Hours
0         1095014  Community Service 2022-02-15    1.0
1         1095014  Community Service 2022-02-11    1.0
2         1095014  Community Service 2022-03-10    1.0
3         1095014  Community Service 2022-03-11    0.5
4         1095014  Community Service 2022-02-16    1.0
...           ...                ...        ...    ...
10481     1093032  Community Service 2025-02-12    7.5
10482     1093032  Community Service 2025-02-18    1.0
10487     1092848  Community Service 2024-10-25    4.0
10488     1092848  Community Service 2024-11-22    3.0
10489     1092848  Community Service 2024-11-22    1.5

[9106 rows x 4 columns]

In [53]:
# Selects hours for between dates of interest
hours = hours[(hours['Date'] >= a) & (hours['Date'] <= b)]
hours

       Student ID Description_ACT_CD       Date  Hours
11        1095014  Community Service 2025-01-03   42.0
12        1095014  Community Service 2025-02-12    7.5
25        1095224  Community Service 2025-02-12    7.5
26        1095224  Community Service 2025-02-18    1.0
33        1094134  Community Service 2024-09-04    5.0
...           ...                ...        ...    ...
10481     1093032  Community Service 2025-02-12    7.5
10482     1093032  Community Service 2025-02-18    1.0
10487     1092848  Community Service 2024-10-25    4.0
10488     1092848  Community Service 2024-11-22    3.0
10489     1092848  Community Service 2024-11-22    1.5

[2587 rows x 4 columns]

In [54]:
# Groups by Student ID and sums up the hours
hours = hours.groupby(by=['Student ID'])['Hours'].sum().reset_index()
hours

     Student ID  Hours
0       1092314    8.5
1       1092319    7.5
2       1092320    8.5
3       1092327    8.5
4       1092329    8.5
..          ...    ...
958     1096743    7.5
959     1096745    7.5
960     1096762    8.5
961     1096763    8.5
962     1096767    8.5

[963 rows x 2 columns]

In [55]:
# Adds hours to the end of the final dataframe
final = pd.merge(final, hours, on='Student ID', how='left')
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,NaN,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [56]:
# Any remaining nan are filled in with 0
final = final.fillna(0)
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Criteria

An input of various criteria is asked for and then students are determined if they meet all criteria or how many they are missing which is put in one final column.

In [57]:
# Input period tardies allowed
m = input('What is the maximum for period tardies allowed:          ')
m = int(m)
m

What is the maximum for period tardies allowed:          60

60

In [58]:
# Input period absences allowed
n = input('What is the maximum for absences allowed:          ')
n = int(n)
n

What is the maximum for absences allowed:          140

140

In [59]:
# Input discipline allowed
o = input('What is the maximum for discipline logs allowed:          ')
o = int(o)
o

What is the maximum for discipline logs allowed:          3

3

In [60]:
# Input suspensions allowed
p = input('What is the maximum for suspensions allowed:          ')
p = int(p)
p

What is the maximum for suspensions allowed:          0

0

In [61]:
# Input fees allowed
q = input('What is the maximum for fees allowed:          ')
q = int(q)
q

What is the maximum for fees allowed:          0

0

In [62]:
# Input gpa needed
r = input('What is the minimum gpa:          ')
r = int(r)
r

What is the minimum gpa:          2

2

In [63]:
# Input D/F allowed
s = input('What is the maximum number of D/F allowed:          ')
s = int(s)
s

What is the maximum number of D/F allowed:          0

0

In [64]:
# Input community service hours needed
t = input('What is the minimum hours of community service:          ')
t = int(t)
t

What is the minimum hours of community service:          20

20

In [65]:
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [67]:
final = final.drop_duplicates(subset=['Student ID'], keep='first')
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [68]:
# Selects students who meet all criteria
qualify = final[(final['Periods Absent'] <= n) & (final['Periods Tardy'] <= m) & (final['Discipline Logs'] <= o) & 
               (final['Suspensions'] <= p) & (final['Q3 D/F'] <= s) & (final['Fees/Debts'] <= q) & (final['TGPA'] >= r) &
               (final['Hours'] >= t)]
qualify

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
29,1,1095799,"Aguilera, Jazmyn",11,3.2250,42.0,20.0,4.0,0.0,0.0,0.0,0.0,50.5
41,1,1095960,"Albarillo, Weslee",11,4.4063,13.0,7.0,0.0,0.0,0.0,0.0,0.0,249.5
44,1,1094116,"Alcantar Herrera, Emely",11,4.3214,11.0,3.0,8.0,0.0,0.0,0.0,0.0,65.5
76,1,1093111,"Alonzo, Anndriya",11,3.5000,22.0,5.0,8.0,1.0,0.0,0.0,0.0,47.5
111,1,1094964,"Ambriz, Naideen",11,4.2281,35.0,4.0,2.0,0.0,0.0,0.0,0.0,97.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,1,1093539,"Soria Espinoza, Luz",12,2.9375,37.0,3.0,1.0,0.0,0.0,0.0,0.0,54.0
2261,8,1092554,"Valencia, Santiago",9,4.0000,35.0,14.0,2.0,0.0,0.0,0.0,0.0,25.0
2262,8,1093476,"Valencia JR, Jose",10,2.9167,117.0,19.0,3.0,0.0,0.0,0.0,0.0,25.0
2302,1,1093164,"Vasquez, Michael",12,3.0159,14.0,9.0,25.0,0.0,0.0,0.0,0.0,67.5
2373,1,1095802,"Zamora, Guadalupe",11,4.0889,116.0,6.0,10.0,0.0,0.0,0.0,0.0,66.5

In [69]:
# Creates a column that says they qualify
qualify['Qualify/#Off'] = 'Yes'
qualify

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3915349119.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  qualify['Qualify/#Off'] = 'Yes'

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
29,1,1095799,"Aguilera, Jazmyn",11,3.2250,42.0,20.0,4.0,0.0,0.0,0.0,0.0,50.5,Yes
41,1,1095960,"Albarillo, Weslee",11,4.4063,13.0,7.0,0.0,0.0,0.0,0.0,0.0,249.5,Yes
44,1,1094116,"Alcantar Herrera, Emely",11,4.3214,11.0,3.0,8.0,0.0,0.0,0.0,0.0,65.5,Yes
76,1,1093111,"Alonzo, Anndriya",11,3.5000,22.0,5.0,8.0,1.0,0.0,0.0,0.0,47.5,Yes
111,1,1094964,"Ambriz, Naideen",11,4.2281,35.0,4.0,2.0,0.0,0.0,0.0,0.0,97.5,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2162,1,1093539,"Soria Espinoza, Luz",12,2.9375,37.0,3.0,1.0,0.0,0.0,0.0,0.0,54.0,Yes
2261,8,1092554,"Valencia, Santiago",9,4.0000,35.0,14.0,2.0,0.0,0.0,0.0,0.0,25.0,Yes
2262,8,1093476,"Valencia JR, Jose",10,2.9167,117.0,19.0,3.0,0.0,0.0,0.0,0.0,25.0,Yes
2302,1,1093164,"Vasquez, Michael",12,3.0159,14.0,9.0,25.0,0.0,0.0,0.0,0.0,67.5,Yes
2373,1,1095802,"Zamora, Guadalupe",11,4.0889,116.0,6.0,10.0,0.0,0.0,0.0,0.0,66.5,Yes

In [70]:
# Chooses the students who do not qualify
unqualify = final[(final['Periods Absent'] > n) | (final['Periods Tardy'] > m) | (final['Discipline Logs'] > o) | 
               (final['Suspensions'] > p) | (final['Q3 D/F'] > s) | (final['Fees/Debts'] > q) |(final['TGPA'] < r) |
               (final['Hours'] < t)]
unqualify

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [71]:
# Gives one for students with too many absents
period = unqualify[unqualify['Periods Absent'] > n]
period['Qualify/#Off'] = 1
period

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3397660476.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  period['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
32,1,1093083,"Aguilera Castro, Angel",11,3.1136,183.0,46.0,7.0,0.0,0.0,0.0,0.0,38.5,1
47,2,1092742,"Alcaraz, Mygdalia",8,2.0392,226.0,26.0,5.0,0.0,0.0,1.0,0.0,8.5,1
55,2,1096382,"Aleman Vieyra, Israel",8,1.8182,164.0,8.0,19.0,0.0,0.0,1.0,0.0,7.5,1
65,8,1094571,"Almaraz, Joseph",10,2.1905,168.0,72.0,72.0,0.0,0.0,0.0,0.0,0.0,1
89,2,1095953,"Alvarado-Lopez, Ashley",8,2.5758,186.0,70.0,11.0,0.0,2.0,2.0,0.0,7.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2275,1,1095524,"Varao, Dvelyn",9,1.2500,146.0,70.0,123.0,0.0,2.0,6.0,0.0,8.5,1
2276,2,1095917,"Varao, Matthew",7,2.4242,218.0,59.0,61.0,1.0,1.0,1.0,0.0,7.5,1
2284,8,1094466,"Vargas, Eloy",9,2.4286,158.0,119.0,39.0,0.0,0.0,2.0,0.0,0.0,1
2285,7,1094499,"Vargas, Isaac",8,1.4143,340.0,290.0,82.0,0.0,0.0,6.0,0.0,7.0,1
2292,8,1094465,"Vargas, Maleah",11,2.3846,250.0,193.0,84.0,0.0,0.0,3.0,0.0,0.0,1

In [72]:
# Gives one for students with too many tardies
tardy = unqualify[unqualify['Periods Tardy'] > m]
tardy['Qualify/#Off'] = 1
tardy

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3600363984.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tardy['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
6,1,1094134,"Acevedo, Joshua",11,3.2593,34.0,24.0,69.0,0.0,0.0,0.0,0.0,18.5,1
56,8,1094296,"Alfaro, Jocelyn",9,2.0000,82.0,26.0,94.0,0.0,0.0,4.0,0.0,15.0,1
65,8,1094571,"Almaraz, Joseph",10,2.1905,168.0,72.0,72.0,0.0,0.0,0.0,0.0,0.0,1
156,2,1094975,"Arreola, Aiden",8,2.0000,91.0,30.0,110.0,2.0,2.0,4.0,0.0,7.5,1
169,2,1095159,"Arvizu, Myko",8,1.8081,58.0,37.0,64.0,0.0,1.0,3.0,0.0,7.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2276,2,1095917,"Varao, Matthew",7,2.4242,218.0,59.0,61.0,1.0,1.0,1.0,0.0,7.5,1
2278,8,1093982,"Vargas, Alexia",11,2.9362,94.0,15.0,67.0,0.0,0.0,1.0,0.0,16.0,1
2285,7,1094499,"Vargas, Isaac",8,1.4143,340.0,290.0,82.0,0.0,0.0,6.0,0.0,7.0,1
2292,8,1094465,"Vargas, Maleah",11,2.3846,250.0,193.0,84.0,0.0,0.0,3.0,0.0,0.0,1
2354,1,1093165,"Villasenor Chavez, Carlos",12,2.0357,94.0,55.0,70.0,1.0,0.0,2.0,50.0,8.5,1

In [73]:
# Gives one for students with too many discipline
discipline = unqualify[unqualify['Discipline Logs'] > o]
discipline['Qualify/#Off'] = 1
discipline

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/2690167167.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  discipline['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
15,2,1095032,"Acol, Leo",7,2.8485,35.0,6.0,53.0,5.0,0.0,0.0,0.0,9.8,1
243,7,1092806,"Barboza, Oswaldo",8,2.8659,90.0,6.0,26.0,4.0,0.0,2.0,0.0,0.0,1
247,2,1092332,"Barragan, Benjamin",7,2.3636,61.0,17.0,82.0,4.0,1.0,1.0,0.0,7.5,1
249,6,1096639,"Barrera, Sebastian",0,0.0000,0.0,0.0,0.0,8.0,0.0,0.0,0.0,0.0,1
424,2,1094312,"Carranza, Jovani",7,1.8780,139.0,55.0,83.0,7.0,2.0,6.0,0.0,7.5,1
475,2,1092416,"Ceja, Aubrey",7,1.6829,272.0,135.0,86.0,5.0,2.0,2.0,0.0,7.5,1
517,4,1096169,"Chavez, Matthew",1,2.5000,0.0,0.0,0.0,6.0,0.0,0.0,0.0,0.0,1
549,6,1095996,"Claustro, Pedro",1,3.7500,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,1
939,1,1093775,"Gonzalez, Shawn",9,1.4444,107.0,61.0,81.0,6.0,4.0,5.0,100.0,9.5,1
1225,6,1092780,"Liras Prudencio, Alexis",6,2.2500,0.0,0.0,0.0,18.0,4.0,0.0,0.0,0.0,1
1327,2,1095457,"Maldonado, Marcos",7,2.0000,129.0,21.0,39.0,4.0,0.0,2.0,0.0,8.5,1
1485,4,1095724,"Mendoza, Jayce",3,2.5000,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,1
1833,4,1093814,"Ramirez Salas, Joshua",6,1.6667,0.0,0.0,0.0,4.0,1.0,0.0,0.0,0.0,1
1953,6,1095071,"Rodriguez, Miguel",4,2.0000,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,1
1982,2,1095460,"Rodriguez Salmeron, Angel Daniel",7,2.3030,72.0,65.0,29.0,4.0,0.0,2.0,0.0,8.5,1
2025,1,1094649,"Ruiz Chavez, Chastelin",10,2.2692,10.0,9.0,24.0,5.0,0.0,2.0,50.0,8.5,1
2144,7,1092792,"Silva, Xzayden",7,1.1667,321.0,150.0,32.0,8.0,7.0,5.0,0.0,0.0,1
2190,4,1095472,"Tirado, Benjamin",6,1.5000,0.0,0.0,0.0,5.0,1.0,0.0,0.0,0.0,1

In [74]:
# Gives one for students with too many suspensions
suspensions = unqualify[unqualify['Suspensions'] > p]
suspensions['Qualify/#Off'] = 1
suspensions

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3835881111.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  suspensions['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5,1
13,2,1093946,"Acol, Aldo",8,2.8515,62.0,35.0,37.0,0.0,2.0,1.0,0.0,8.5,1
25,2,1092361,"Aguilar Armenta, Eternity",7,2.9756,40.0,30.0,11.0,0.0,1.0,1.0,50.0,8.5,1
89,2,1095953,"Alvarado-Lopez, Ashley",8,2.5758,186.0,70.0,11.0,0.0,2.0,2.0,0.0,7.5,1
156,2,1094975,"Arreola, Aiden",8,2.0000,91.0,30.0,110.0,2.0,2.0,4.0,0.0,7.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2343,2,1096542,"Villagres Cifuentes, Alan",8,2.3030,8.0,2.0,14.0,0.0,1.0,4.0,0.0,7.5,1
2353,4,1092909,"Villasenor, Daniel",6,2.0000,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,1
2357,2,1092372,"Viramontes, Eric",7,1.6970,132.0,49.0,47.0,3.0,3.0,3.0,0.0,23.5,1
2369,1,1096341,"Yanez, Estiven",10,1.7500,10.0,9.0,38.0,1.0,2.0,5.0,275.0,7.5,1
2376,2,1096013,"Zamora, Ricardo",8,3.1111,20.0,9.0,2.0,0.0,1.0,0.0,0.0,8.5,1

In [75]:
# Gives one for students with too many fees
fines = unqualify[unqualify['Fees/Debts'] > q]
fines['Qualify/#Off'] = 1
fines

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/2170114737.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fines['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
25,2,1092361,"Aguilar Armenta, Eternity",7,2.9756,40.0,30.0,11.0,0.0,1.0,1.0,50.0,8.5,1
37,1,1093397,"Alaniz, Christopher",12,2.1818,24.0,5.0,3.0,0.0,0.0,1.0,50.0,84.5,1
81,1,1095216,"Alvarado, Aurelio",12,4.4096,40.0,16.0,9.0,0.0,0.0,1.0,50.0,54.5,1
82,1,1095221,"Alvarado, Demetrio",12,3.9870,17.0,14.0,13.0,0.0,0.0,0.0,50.0,59.5,1
181,1,1094095,"Avila, Dylan",11,2.6458,61.0,18.0,7.0,0.0,0.0,0.0,50.0,8.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2368,2,1096633,"Yanez, Dennis",8,2.4242,49.0,40.0,27.0,0.0,0.0,1.0,50.0,7.5,1
2369,1,1096341,"Yanez, Estiven",10,1.7500,10.0,9.0,38.0,1.0,2.0,5.0,275.0,7.5,1
2378,1,1095541,"Zamora Viera, Destiny",10,2.2083,57.0,20.0,46.0,1.0,0.0,5.0,50.0,9.5,1
2379,8,1093656,"Zamudio Silva, Sara",12,3.9275,75.0,2.0,3.0,0.0,0.0,0.0,300.0,0.0,1
2383,1,1095035,"Zaragoza, Heidyn",9,2.3750,83.0,34.0,39.0,0.0,0.0,2.0,5.0,13.5,1

In [76]:
# Gives one for students with too many D/Fs
grades = unqualify[unqualify['Q3 D/F'] > s]
grades['Qualify/#Off'] = 1
grades

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/2000866831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  grades['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5,1
5,1,1095224,"Acevedo, Italivi",12,4.2778,42.0,14.0,26.0,0.0,0.0,1.0,0.0,8.5,1
8,1,1094472,"Acevedo Sanchez, Bryan",9,2.7778,74.0,31.0,2.0,0.0,0.0,1.0,0.0,8.5,1
9,2,1095206,"Aceves, Analia",8,4.0000,97.0,21.0,11.0,1.0,0.0,1.0,0.0,3.0,1
13,2,1093946,"Acol, Aldo",8,2.8515,62.0,35.0,37.0,0.0,2.0,1.0,0.0,8.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2378,1,1095541,"Zamora Viera, Destiny",10,2.2083,57.0,20.0,46.0,1.0,0.0,5.0,50.0,9.5,1
2383,1,1095035,"Zaragoza, Heidyn",9,2.3750,83.0,34.0,39.0,0.0,0.0,2.0,5.0,13.5,1
2384,8,1095289,"Zarza, Oscar",11,2.8367,67.0,27.0,54.0,0.0,0.0,1.0,0.0,0.0,1
2387,1,1093216,"Zepeda, Khloey",10,2.6667,88.0,78.0,3.0,0.0,0.0,1.0,0.0,8.5,1
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,1

In [77]:
# Gives one for students with too low of GPA
gpa = unqualify[unqualify['TGPA'] < r]
gpa['Qualify/#Off'] = 1
gpa

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3353119582.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gpa['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
20,6,1094341,"Aguayo, Emalie",6,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
31,4,1096514,"Aguilera, Yurem",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
46,6,1096675,"Alcaraz, Abram",-1,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
53,4,1096407,"Alegria Martinez, Melanie",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
55,2,1096382,"Aleman Vieyra, Israel",8,1.8182,164.0,8.0,19.0,0.0,0.0,1.0,0.0,7.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2364,4,1096661,"Yanes, Joselyn",6,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2369,1,1096341,"Yanez, Estiven",10,1.7500,10.0,9.0,38.0,1.0,2.0,5.0,275.0,7.5,1
2381,4,1095424,"Zandejas, Jonael",3,1.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2388,4,1096007,"Zepeda Carranza, Dariel",5,1.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [78]:
# Gives one for students with too low of hours
hours = unqualify[unqualify['Hours'] < t]
hours['Qualify/#Off'] = 1
hours

C:\Users\DEREK~1.CAS\AppData\Local\Temp/ipykernel_26596/3837574867.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hours['Qualify/#Off'] = 1

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
5,1,1095224,"Acevedo, Italivi",12,4.2778,42.0,14.0,26.0,0.0,0.0,1.0,0.0,8.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,1
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [79]:
# Puts all the unqualifying groups together
under = pd.concat([period, tardy, discipline, suspensions, fines, grades, gpa, hours])
under

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
32,1,1093083,"Aguilera Castro, Angel",11,3.1136,183.0,46.0,7.0,0.0,0.0,0.0,0.0,38.5,1
47,2,1092742,"Alcaraz, Mygdalia",8,2.0392,226.0,26.0,5.0,0.0,0.0,1.0,0.0,8.5,1
55,2,1096382,"Aleman Vieyra, Israel",8,1.8182,164.0,8.0,19.0,0.0,0.0,1.0,0.0,7.5,1
65,8,1094571,"Almaraz, Joseph",10,2.1905,168.0,72.0,72.0,0.0,0.0,0.0,0.0,0.0,1
89,2,1095953,"Alvarado-Lopez, Ashley",8,2.5758,186.0,70.0,11.0,0.0,2.0,2.0,0.0,7.5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,1
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [80]:
# Groups by Student ID and adds how many criteria they did not meet
under = under.groupby(['Student ID'])['Qualify/#Off'].sum().reset_index()
under

      Student ID  Qualify/#Off
0        1092314             2
1        1092319             1
2        1092320             1
3        1092327             1
4        1092329             1
...          ...           ...
2255     1096776             2
2256     1096777             2
2257     1096778             2
2258     1096779             2
2259     1096780             2

[2260 rows x 2 columns]

In [81]:
unqualify

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2394,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2395,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5
2396,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2397,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2398,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [82]:
# Combines with the unqualify dataframe
unqualify = pd.merge(unqualify, under, how='inner', on='Student ID')
unqualify

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
0,1,1095014,"A Cerda, Eddie",11,2.5000,68.0,44.0,44.0,0.0,1.0,1.0,0.0,49.5,2
1,4,1094167,"Aaron, Anastasia",6,2.6667,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,4,1095258,"Aaron, Lillie",3,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,4,1096128,"Aburto-Ramirez, Anaiah",1,2.2500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,4,1093925,"Aburto-Ramirez, Ayden",4,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2256,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,2
2257,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2258,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2259,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [83]:
# Puts qualify and unaqualify back together
final = pd.concat([qualify, unqualify])
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Hours,Qualify/#Off
29,1,1095799,"Aguilera, Jazmyn",11,3.2250,42.0,20.0,4.0,0.0,0.0,0.0,0.0,50.5,Yes
41,1,1095960,"Albarillo, Weslee",11,4.4063,13.0,7.0,0.0,0.0,0.0,0.0,0.0,249.5,Yes
44,1,1094116,"Alcantar Herrera, Emely",11,4.3214,11.0,3.0,8.0,0.0,0.0,0.0,0.0,65.5,Yes
76,1,1093111,"Alonzo, Anndriya",11,3.5000,22.0,5.0,8.0,1.0,0.0,0.0,0.0,47.5,Yes
111,1,1094964,"Ambriz, Naideen",11,4.2281,35.0,4.0,2.0,0.0,0.0,0.0,0.0,97.5,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2256,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,2
2257,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2258,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2259,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [84]:
# Renames the hours column
final = final.rename(columns={'Hours': 'Community Service'})
final

,School,Student ID,Student Name,Grade,TGPA,Periods Absent,Unexcused Absent,Periods Tardy,Discipline Logs,Suspensions,Q3 D/F,Fees/Debts,Community Service,Qualify/#Off
29,1,1095799,"Aguilera, Jazmyn",11,3.2250,42.0,20.0,4.0,0.0,0.0,0.0,0.0,50.5,Yes
41,1,1095960,"Albarillo, Weslee",11,4.4063,13.0,7.0,0.0,0.0,0.0,0.0,0.0,249.5,Yes
44,1,1094116,"Alcantar Herrera, Emely",11,4.3214,11.0,3.0,8.0,0.0,0.0,0.0,0.0,65.5,Yes
76,1,1093111,"Alonzo, Anndriya",11,3.5000,22.0,5.0,8.0,1.0,0.0,0.0,0.0,47.5,Yes
111,1,1094964,"Ambriz, Naideen",11,4.2281,35.0,4.0,2.0,0.0,0.0,0.0,0.0,97.5,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,6,1095271,"Zuniga, Alan",3,3.5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2256,7,1092848,"Zuniga, Michelle",7,3.8621,46.0,19.0,2.0,0.0,0.0,1.0,0.0,8.5,2
2257,4,1094487,"Zuniga, Pedro",5,2.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2258,6,1096578,"Zuniga, Zoe",0,0.0000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2
2259,6,1094375,"Zuniga Vazquez, Luis",5,3.7500,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [85]:
import base64
from IPython.display import HTML

def create_download_link( df, title = "Attendance and Discipline", filename = "Attendance and Discipline"):
    csv = df.to_csv(index=False)
    b64 = base64.b64encode(csv.encode())
    payload = b64.decode()
    html = '<a download="{filename}" href="data:text/csv;base64,{payload}" target="_blank">{title}</a>'
    html = html.format(payload=payload,title=title,filename=filename)
    return HTML(html)

create_download_link(final)